.div_style{
  color: blue;
  background-color: aqua;
  font-size: 50px;
  width: 500px;
  height: 100px;
}
.h1_style{
  color: blueviolet;
  background-color: antiquewhite;
  font-size: larger;
}
/* 注释：要用 这样的*/
